<h1>Users#read</h1>
<p>Find me in app/views/users/read.html.erb</p>
<%if @user %>
	<%if @user.image %>
		<img src="<%=@user.image%>" alt="">
	<%else%>
		<img src="../assets/user.png"  alt="">
	<%end%>
	
	<h2><%=@user.name%></h2>
	
	
		
<%end%> 	
<br>
<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
